.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;

    .title {
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;

      label {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      input[type="file"] {
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      .error {
        color: red;
        font-size: 0.8rem;
      }
    }

    .message {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #1b1b1b;
      text-align: center;
    }

    .loading {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #1b1b1b;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      button[type="submit"] {
        margin-right: 1rem;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: #24EA72;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #1dbf5b;
        }

        &:disabled {
          background-color: #dcdcdc;
          cursor: not-allowed;
        }
      }

      button[type="button"] {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: #ccc;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #b3b3b3;
        }
      }
    }
  }
}